@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, button {
    font-family: 'Inter', sans-serif;
}

#header {
    margin: 16px;
    display: flex;
    justify-content: flex-start;
}

#header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#header .logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

#header .logo h1 {
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-style: italic;
}

#navToggle {
    height: 24px;
    width: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

#navMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 50%;
    max-width: 400px;
    padding: 0;
    margin: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navMenu.visible {
    display: block;
}

#navMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navMenu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#navMenu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#navMenu ul li a svg {
    margin-right: 10px;
    fill: black;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    background-color: #fff9ec;
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    background-color: #fad522;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    cursor: pointer;
}

.fab svg {
    fill: black;
}

.fab:hover {
    filter: brightness(90%);
}

.sessionModal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
}

.sessionModal p {
    margin: 0;
    padding: 0;
}

.sessionModal .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.sessionModal form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.sessionModal form label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.sessionModal form input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sessionModal .modalInputError {
    display: flex;
    align-items: center;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.sessionModal .modalInputError svg {
    fill: red;
    margin-right: 5px;
}

.sessionModal form button {
    display: flex;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #fad522;
    color: black;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

.sessionModal form button svg {
    fill: black;
    margin-right: 5px;
}

dialog h2 {
    margin-top: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#pastSessionsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

#pastSessionsList li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#pastSessionsList li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid #ddd;
}

#pastSessionsList .sessionItemContainer {
    display: block;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fff;
}

#pastSessionsList .sessionItemContainer p {
    margin: 16px;
}

#pastSessionsList .sessionItemContainer .sessionInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pastSessionsList .sessionItemContainer .sessionInfo .sessionEditButton {
    height: 24px;
    width: auto;
    margin: 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

#pastSessionsList .sessionItemContainer .sessionInfo .sessionEditButton svg {
    fill: black;
}

/* Mobile */
@media (max-width: 840px) {
    main {
        max-width: 100%;
    }
}