.fillBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #000;
}

.filledBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--color-border);
    background-color: #fff;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #000;
}